<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wear</title>
</head>
<body>



    <div>


{{#each camisas}}
                    <p>{{nombre}}</p>
                    <p>{{precio}}</p>
                    <p>{{color}}</p>
                    <p>{{sexo}}</p>
                    <p>{{coleccion}}</p>  
                    <p>{{codigo}}</p>
                    
        {{/each}}


    </div>
    
</body>
</html>