<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wear</title>
    <link rel="stylesheet" href="css/wear_estilos.css">
    <link rel="stylesheet" href="css/reco.css">
    
    
</head>

<body>
    <header>
        <div class="nav_loc">
            <ul>
                <img src="img/logo.png" id="logo" />
                <li>
                    <a class="active" href="#home">Home</a>
                </li>
                <li>
                    <a href="#news">Hombres</a>
                </li>
                <li>
                    <a href="#contact">Mujeres</a>
                </li>
                <li>
                    <a href="#about">interacción</a>
                </li>
                <li>
                    <a href="#about">Sobre nosotros</a>
                </li>
                <div class="dere">
                    <a href="https://www.w3schools.com" class="btn loud-link-hover" data-sound="guitar">
                        <img src="img/carrito.png" id="carrito" />
                    </a>
                    <button type="button" class="buscar">
                        <img src="img/lupa.png" alt="" style="vertical-align: middle">
                    </button>
                    <input type="search" placeholder="Buscar" class="buscarNavegador">
                </div>
            </ul>
        </div>
    </header>

  

    <section class="cuerpo">

          <div class="slide" style='background-image: url("img/slider_3.jpg");'>


            <div class="info">
                <h1>
                    ANIMANDO TU ESTILO
                </h1>
                <p class=light>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat. </p>
                </br>

                <div class="precio">
                    <p> $ 39,900</p>
                </div>

                <button href="#"> ver más</button>

            </div>
        </div>
        <div class="filtro">

            <p>Filtra tu Búsqueda</p>

        </div>
        <!--Parte Derecha de la pantalla-->
        <div class="libros">
            
            <div class="mostrar">
                {{#each camisas}}
                <div class="libro" data-id="{{this._id}}">
                    <div class="imagen" style="background-image: url({{camisa}});"></div>
                    <div class="descri">
                        <p class="nom">
                            <b>{{nombre}}</b>
                        </p>
                        <p class="desc">
                            Autor: {{Autor}}
                        </p>

                         <p class="desc">
                            Colección: {{coleccion}}
                        </p>

                         <p class="prec">
                         <b>  ${{precio}}</b>
                        </p>
                       
                    </div>
                   <!-- <div class="boton" align="center">
                        <a href="/reco/specific/{{nombre}}">
                            <button class="more">Learn More...</button>
                        </a>
                        <button class="agregar">Add To Card</button>
                    </div> -->
                </div>
                {{/each}}
            </div>
        </div>
    </section>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/script.js"></script>
</body>

</html>